.*.sw*
models/*
out/*
data/*
mlruns/*
runs/*
.neptune/*
err/*
.DS_STORE
.vscode/
.ipynb_checkpoints/*
__pycache__/*
lib/Relational_DRL/
wandb/*
lib/dreamerv2/*
dv2_out/*
lightning_logs/*
vta/out/*
vta/experiments/*
vta/data/*
vta/actual_walls.npy
vta/actual_walls.tar.gz
vta/src/*
vta/wandb/*
vta/asset/*
