[submodule "lib/Relational_DRL"]
	path = lib/Relational_DRL
	url = https://github.com/gyh75520/Relational_DRL.git
[submodule "lib/pycolab"]
	path = lib/pycolab
	url = git@github.com:simonalford42/pycolab.git
[submodule "dreamerv2"]
	path = dreamerv2
	url = https://github.com/danijar/dreamerv2
